In [26]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [32]:
city_data_file = "../MatplotlibHwk/Resources/city_data.csv"
ride_data_file = "../MatplotlibHwk/Resources/ride_data.csv"


print(city_df.head(3))
print(ride_df.head(3))

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003

In [28]:
combined_df = pd.merge(ride_df,city_df,on="city")
combined_df.head()

,city,date_x,fare_x,ride_id_x,date_y,fare_y,ride_id_y
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,2018-01-14 10:14:22,13.83,5739410935873
1,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,2018-04-07 20:51:11,31.25,4441251834598
2,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,2018-03-09 23:45:55,19.89,2389495660448
3,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,2018-04-07 18:09:21,24.28,7796805191168
4,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,2018-01-02 14:14:50,13.89,424254840012